{% extends 'base.html' %}

{% block content %}

<div class="countries">
<form action="/countries/{{country.id}}" method="post">
    <div>
        <label for="country_name">Country Name: </label>
        <input type="text" id="country_name" name="country_name" value="{{country.country_name}}" required autofocus>
    </div>

    <div>
        <label for="is_visited">Visited</label>
        <select id="is_visited" name="is_visited">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>

    <button class="button" type="submit">Update Country</button>

</form>
</div>

{% endblock %}