{% extends 'base.html' %}

{% block content %}

{% for country in all_countries %}

<div class="countries">
    <div class="content">
        <a href="/countries/{{country.id}}">{{country.country_name}}</a>

        <div>
            {% if country.is_visited %}
            <span class="green-text">Visited </span>
            {% else %}
            <span class="red-text">Not Visited</span>
            {% endif %}
        </div>

        <!-- <div>
            <img src="https://en.wikipedia.org/wiki/{{country.country_name}}#/media/File:Flag_of_{{country.country_name}}.svg" alt="Flag" height="256px" width="512px">
        </div> -->

        <div>
            <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
                <button class="material-symbols-outlined">delete</button>
            </form>
        </div>
    </div>
</div>

{% endfor%}

{% endblock %}