{% extends 'base.html' %}

{% block content %}

<div class="main">
    <form action="/countries" method="POST">
        
        <div>
            <label for="country_name">Country Name: </label>
            <input type="text" name="country_name" id="country_name" required autofocus>
        </div>

        <div>
            <label for="is_visited">Visited</label>
            <select id="is_visited" name="is_visited">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div>

        <div>
            <button class="button" type="submit">Add Country</button>
        </div>
    </form>
</div>

{% endblock  %}
