{% extends 'base.html' %}

{% block content %}


<div class="countries">
    {{country.country_name}}
    <br>
    {% if country.is_visited %}
    <span class="green-text">Visited </span>
    {% else %}
    <span class="red-text">Not Visited</span>
    {% endif %}
    
    <div>
        Cities:
        {% for city in cities %}
        {{city.city_name}}
        {% endfor %}
    </div>
    <li title="Edit"><a href="/countries/{{country.id}}/edit"><span class="material-symbols-outlined">edit</span></a></li>
    <li title="New City"><a href="/cities/new"><span class="material-symbols-outlined">add_location</span></a></li>

</div>

{% endblock %}










