{% extends 'base.html' %}

{% block content %}


<div class="main">
    <div>
    <li title="Country"><a href="/countries/{{country.id}}">{{country.country_name}}</a></li>
    <br>
    {{city.city_name}}: 
    {% if city.is_visited %}
    <span class="green-text">Visited </span>
    {% else %}
    <span class="red-text">Not Visited</span>
    {% endif %}
    </div>

    <div>
        Sights: 
        {% for sight in sights %}
        <li title="Sights"><a href="/sights/{{sight.id}}">{{sight.sight_name}}</a></li>
        {% endfor %}
    </div>
    <div>
    <li title="Edit" class ="edit"><a href="/cities/{{city.id}}/edit"><span class="material-symbols-outlined">edit</span></a></li>
    <li title="New Sight" class="add"><a href="/sights/new/{{city.id}}"><span class="material-symbols-outlined">add_location</span></a></li>
    </div>

    <div>
        <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
            <button class="material-symbols-outlined">delete</button>
        </form>
    </div>
    <div class="link"><a href="https://en.wikipedia.org/wiki/{{city.city_name}}" target = "_blank">Wiki</a></div>


</div>

{% endblock %}
