{% extends 'base.html' %}

{% block content %}


<div class="main">
    <form action="/sights" method="POST">
        <div>
            <label for="sight_name">Sight Name: </label>
            <input type="text" name="sight_name" id="sight_name" required autofocus>
        </div>

        <div>
            <label for="is_visited">Visited</label>
            <select id="is_visited" name="is_visited">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div>

        <div>
            <label for="city">City</label>
            <select name="city_id" id="city">
            <option value="{{city.id}}">{{city.city_name}}</option> 
            </select>
        </div>

        <div>
            <button class="button" type="submit">Add Sight</button>
        </div>
    </form>
</div>

{% endblock  %}
