{% extends 'base.html' %}

{% block content %}        

<div class="main">
    <header class="summary"> Summary </header>

    <div class="totals">
        Total countries = {{total_countries}}.
        Total cities = {{total_cities}}.
        Total sights = {{total_sights}}. 
    </div> 

    <div class="visited">
        Total visited countries = {{visited_countries}}.
        Total visited cities = {{visited_cities}}.
        Total visited sights = {{visited_sights}}.
    </div>
</div>

{% endblock %}