{% extends 'base.html' %}

{% block content %}        

<div class="countries">
    <div class="content">
        <header class="summary"> Summary </header>

            <div class="totals">
            Total countries = {{total_countries}}.
            Total cities = {{total_cities}}.
            Total sights = {{total_sights}}. 
            </div> 

                <!-- Country with most cities = {{most_cities}}
                City with most sights = {{most_sights}} -->
            <div class="visited">
            Total visited countries = {{visited_countries}}.
            Total visited cities = {{visited_cities}}.
            Total visited sights = {{visited_sights}}.
            </div>
    </div>
</div>


{% endblock %}