body {
    font-family: lato, sans-serif;
    background-color: gray;
    color: black;
    margin: 0;
}

hr {
    border: 2px solid black;
}

.material-symbols-outlined {
    font-size: 200%;
    color: black;
}

.material-symbols-outlined:hover {
    color: white;
}

.add-city .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 2px solid black;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 16px;
}

.add-city .material-symbols-outlined:hover {
    background-color: lime;
    color: black;
    transition-duration: 0.2s;
}

.add-sight .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background-color: green;
    border: 2px solid black;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 16px;
}

.add-sight .material-symbols-outlined:hover {
    background-color: lime;
    color: black;
    transition-duration: 0.2s;
}

.edit .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background-color: goldenrod;
    border: 2px solid black;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 16px;
}

.edit .material-symbols-outlined:hover {
    background-color:gold;
    color: black;
    transition-duration: 0.2s;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    background-color: goldenrod;
    align-items: center;
    justify-content: center;
}

.menu .material-symbols-outlined {
    font-size: 400%;
    color: black
}

.menu .material-symbols-outlined:hover {
    color: white;
}

.delete-form .material-symbols-outlined {
    border-color: black;
    background-color:firebrick;
    color:black;
    border-radius: 2px;
    width: 94%;
    margin-left: 4px;
}

.delete-form .material-symbols-outlined:hover {
    transition-duration: 0.2s;
    background-color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 75px;
    line-height: 360px;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2%;
    width: 50%;
    height: 100%;
    min-height: 75px;
    line-height: 60px;
    margin: 16px;
    font-size: 200%;
    list-style-type:none;
}

.cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2%;
    width: 50%;
    height: 100%;
    min-height: 75px;
    padding: 12px;
    line-height: 60px;
    margin: 16px;
    font-size: 200%;
    list-style-type:none;    
}

.sights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2%;
    width: 50%;
    height: 100%;
    min-height: 75px;
    padding: 12px;
    line-height: 60px;
    margin: 16px;
    font-size: 200%;
    list-style-type:none;
}

.single_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2%;
    width: 100%;
    height: 100%;
    min-height: 75px;
    min-width: 75px;
    margin: 0
}

.green-text {
    color: lime;
}

.red-text {
    color: firebrick;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    color: black;
    width: 50%;
    min-height: 32px;
    margin-left: 25%;
    padding:0%;
    border: 1px solid black;
    border-radius: 10px;
}

.button:hover {
    background-color: chocolate;
}